@charset "UTF-8";
.cubeone-scene {
    width: 2.7 * $cube-size;
    height: 2.7 * $cube-size;
    max-width: 100%;
    // perspective: 800px;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(-20deg) rotateZ(0deg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    align-content: space-between;
    //background: rgba(white, .5);
}

[data-type=cubeone] {
    width: $cube-size;
    height: $cube-size;
    //margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    &:focus {
        outline: none;
        .cubeone-face {
            border: 2px solid white;
        }
    }
}

.cubeone-touch {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    //background: rgba(red, .5);
    backface-visibility: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    color: #222;
    color: transparent;
    cursor: pointer;
    background: transparent;
    &:focus {
        outline: none;
        box-shadow: 0 0 50px white;
    }
    //display: none;
    // font-size: 0;
    &[data-type=front] {
        transform: translateZ($cube-size/2);
    }
    &[data-type=up] {
        transform: rotateX(-90deg) translateY($cube-size/2) rotateY(180deg) rotateZ(180deg);
        transform-origin: top center;
    }
    &[data-type=right] {
        transform: rotateY(-270deg) translateX($cube-size/2);
        transform-origin: top right;
    }
    &[data-type=back] {
        transform: translateZ(-$cube-size/2) rotateY(180deg);
    }
    &[data-type=down] {
        transform: rotateX(90deg) translateY(-$cube-size/2) rotateY(180deg) rotateZ(180deg);
        transform-origin: bottom center;
    }
    &[data-type=left] {
        transform: rotateY(270deg) translateX(-$cube-size/2);
        transform-origin: center left;
    }        
}

.cubeone-cube {
    transition: transform $rotate-transition-duration;
    position: relative;
    width: inherit;
    height: inherit;
    //margin: 0 auto;
    transform-style: preserve-3d;
    user-select: none;
    pointer-events: none;
    transform-origin: 50% 50%;
    //animation: spin 5s infinite linear;
    .cubeone-face {
        transition: opacity $rotate-transition-duration;
        user-select: none;
        pointer-events: none;
        position: absolute;
        width: inherit;
        height: inherit;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        font-size: 0;
        color: transparent;
        //backface-visibility: hidden;
        border-radius: 1px;
        opacity: .9;
        &.tapped {
            opacity: .1;
        }
        >div {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url(#{$cube-background-image-url}) no-repeat center center / contain;
        }
    }
    .cubeone-front {
        transform: translateZ($cube-size/2);
    }
    .cubeone-up {
        transform: rotateX(-90deg) translateY($cube-size/2) rotateY(180deg) rotateZ(180deg);
        transform-origin: top center;
    }
    .cubeone-right {
        transform: rotateY(-270deg) translateX($cube-size/2);
        transform-origin: top right;
    }
    .cubeone-back {
        transform: translateZ(-$cube-size/2) rotateY(180deg);
    }
    .cubeone-down {
        transform: rotateX(90deg) translateY(-$cube-size/2) rotateY(180deg) rotateZ(180deg);
        transform-origin: bottom center;
    }
    .cubeone-left {
        transform: rotateY(270deg) translateX(-$cube-size/2);
        transform-origin: center left;
    }
}

@keyframes spin {
    to {
        transform: rotateY(1turn) rotateX(1turn);
    }
}

.app-info {
    font-size: 1.2rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: .1em;
    min-height: 1.5em;
    border-bottom: 1px solid lightgray;
    padding: 0 .5rem;
    .title {
        font-weight: 700;
    }
    .state-info {
        >label {
            font-weight: 300;
            display: inline-block;
        }
        >.state {
            display: inline-block;
            font-weight: 300;
            text-transform: uppercase;
            min-width: 2em;
        }
    }
}