html {
    font-size: 100%;
}

html,
body {
    min-height: 100%;
    min-height: 100vh;
}

body {
    font-family: Helvetica, sans-serif;
    color: white;
    margin: 0;
    background-color: #111;
}

.body-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    &.with-background-image {
        background: rgba(#009E60, .2) url($cube-background-image-url) 0% 0% no-repeat;
    }
}