html {
    font-size: 100%;
}

html,
body {
    min-height: 100%;
    min-height: 100vh;
}

body {
    font-family: Helvetica, sans-serif;
    background: #fafafa;
    background: #111;
    color: white;
    margin: 0;
    height: 0;
}

.body-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}